$flatBlue: #2980b9;
$flatBlueAlt: #3498db;

$flatRed: #c0392b;
$flatRedAlt: #e74c3c;

$flatGreen: #16a085;
$flatGreenAlt: #1abc9c;

$flatWhite: #ecf0f1;
$flatWhiteAlt: #f6f6f6;

$flatGray: #2d3436;
$flatGrayAlt: #575b5c;
$flatGrayTwo: #212b2d;

// $green: #4caf50;
$green: #559f58;

$halfTransparent: rgba(0, 0, 0, 0.4);
$quarterTransparent: rgba(73, 73, 73, 0.25);

$blur-25: blur(25px);
$blur-100: blur(100px);