.notifications
    span.num-notifications.user-select-none.d-flex.justify-content-center.align-items-center
    .notifications-list.p-3.user-select-none
        .head.d-flex.justify-content-between.align-items-center
            .text Notifications
            .clear.btn.btn-outline-secondary.p-1 Clear All
        .content
            .box
                .date 12:05 PM
                .title.d-flex.align-items-center
                    i.fa-solid.fa-shield-halved.fa-sm
                    span Windows Security
                .info Windows Firewall is turned off.
                .dismiss.btn.btn-outline-secondary.p-1.w-100.text-center Dismiss
            .box
                .date Friday
                .title.d-flex.align-items-center
                    i.fa-solid.fa-battery-full.fa-sm
                    span Battery Saver
                .info Battery saver is on.
                .dismiss.btn.btn-outline-secondary.p-1.w-100 Dismiss
            .box
                .date Thursday
                .title.d-flex.align-items-center
                    i.fa-solid.fa-wrench.fa-sm
                    span Windows Update
                .info Window update successfully, Your device is up to date.
                .dismiss.btn.btn-outline-secondary.p-1.w-100 Dismiss