.weather.user-select-none
    .info.rounded-top-3.p-2.ps-0.pe-3.d-flex.justify-content-between.align-items-center
        .icon
        .content.d-flex.flex-column
            span.city
            span.temp
    .full-info.rounded-3.p-2
        .head.mb-1.user-select-none
            span.text Weather
        .content.p-2.pt-3
            .name
                span.city
                span.country
            .icon
            .temp
                | Temperature:
                span
            .status
                | Status:
                span
            .clouds
                | Clouds:
                span
            .wind
                | Wind:
                span
            .hum
                | Humidity:
                span
